<section>
  <div class="close">
    <p>დიაგრამა</p>
    <i (click)="closeDiagram()" class="fa-solid fa-x"></i>
  </div>
    <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>დასახელება</th>
              <th>01/05/2020</th>
              <th>02/05/2020</th>
              <th>03/05/2020</th>
              <th>04/05/2020</th>
              <th>05/05/2020</th>
              <th>06/05/2020</th>
              <th>07/05/2020</th>
              <th>08/05/2020</th>
            </tr>
          </thead>
          <tbody>
            <tr class="apple">
              <td>ვაშლი</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>მსხალი</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>საზამთრო</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    </section>